body, div, a {
    padding:0;
    margin:0;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#calculator{
    width: 310px;
    height: 460px;
    margin: 10px auto;
    padding: 5px;
    background-color: #999;
    border: 3px solid black;
    border-radius: 10px;
    }
    
#total{
    height: 70px;
    width: 295px;
    margin: 0;
    margin-bottom: 5px;
    padding: 0 5px;
    background-color: #FFF;
    font-size: 60px;
    text-align: right;
    border-radius: 10px;
    }
    
#numbers{
    margin: 0px;
}

#operators{
    margin: 0px;
}

a{
    cursor: pointer;
    }
    
#operators a{
    display: block;
    width: 45px;
    height: 45px;
    float: left;
    padding: 2px;
    margin: 5px 6px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 35px;
    background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
    background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
    border-radius: 10px;

    }

#numbers a{
    display: block;
    float: left;
    text-align: center;
    color: black;
    font-size: 30px;
    text-decoration: none;
    width: 68px;
    height: 68px;
    padding: 10px;
    margin: 5px 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
    background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
    border-radius: 10px;
    }
